.back-ground {
    background-color: white;
}
.details {
    margin-top: 7rem;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;    
}
.box-sizing{
    width: auto!important;
    height: auto!important;
    text-align: center;
    align-items: center!important;
    background-color: #ffffff!important;
}
.image-details img {
    width: 40rem;
    height: 30rem;
    border-radius: 3px;
}
.content-details {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.image-details{
    font-size: 20px;
    font-weight: bold;
}
.header-details {
    display: flex;
    align-items: right;
}
.input-group-text {
    border : none!important;
    background-color: #ffffff!important;
}
.media-body {
    font-family:Andale Mono, monospace;
    position: sticky;
    text-align: right;
    color: red!important;
    margin-right: 1rem;
    font-size: 50px!important;
}
.media-title1 {
    align-items: center;
}
.media-title-h3 {
    margin: 0 12rem;
    margin-bottom: 1rem;
}
.media-body {
    font-family:Andale Mono, monospace;
    position: sticky;
    text-align: right;
    color: red!important;
    margin-right: 1rem;
    font-size: 50px!important;
}
.Cardcss {
    margin-left: 10%;
    margin-right: 10%;
}
