.back-ground3 {
    background-color: white;
}
.easy-recipes {
    margin-top: 7rem;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}

.media-body {
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
    text-align: right;
    color: red!important;
    margin-right: 1rem;
    font-size: 40px!important;
}

.highlight {
    color: white !important;
    background-color: red !important;
    font-size: 40px!important;
}
.media-title {
    margin-top: 3rem;
}
.media-title-h3 {
    margin-top: 1rem!important;
}
.card-img-top{
    height: 20rem!important;
    transition: transform 300ms;
}
.card-img-top:hover{
    transform: translateY(-6px);
}
.card {
    margin-left: 2px!important;
    margin-right: 2px!important;
    border: none!important;
    align-items: center;
}
.card-title {
    color: black;
    font-family: inherit;
}
.button-show {
    /* border: solid 1px; */
    border-radius: 3px;
    background-color: #e40754;
    border-color: #e40754;
    font-size: 1rem;
    color: white;
    font-family: inherit;
}
.video {
    width: 500px;
    height: 350px;
    position: relative;
    margin-right: 1rem;
}