.login {
    margin-top: 2rem;
    justify-content: center;
    display: flex;
}
.box-sizing1{
    display: block;
    align-items: center!important;
    width: 40rem!important;
    height: auto!important;
    text-align: center;
    /* border: 2px solid black; */
    border-radius: 3%;
    background-color: #E9ECEF!important;
}
.form-check {
    text-align: center!important;
}