.back-ground4 {
    background-color: white;
}
.daily-recipes {
    margin-top: 7rem;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}

.media-body {
    font-family: inherit;
    position: sticky;
    text-align: right;
    color: red!important;
    margin-right: 1rem;
    font-size: 50px!important;
}

.highlight {
    color: white !important;
    background-color: red !important;
    font-size: 50px!important;
}

.media-title {
    margin-top: 3rem;
}

.media-title-h3 {
    margin-top: 1rem!important;
}

.card-img-top {
    width: 100%!important;
    height: 20rem!important;
    display: block!important;
}

.card {
    width: 20rem!important;
    height: 25rem!important;
    border: none!important;
    position: relative;
}

.row {
    width: 96rem!important;
    /* fix with size */
    height: inherit;
}

.a.col {
    width: 50px!important;
}

.card-title {
    color: black;
    font-family: inherit;
}

.button-show {
    border: solid 1px;
    border-radius: 3px;
    background-color: #e40754;
    border-color: #e40754;
    font-size: 1rem;
    color: white;
    font-family: inherit;
}

.video {
    width: 500px;
    height: 350px;
    position: relative;
    border: solid 1px;
    margin-right: 1rem;
}