.header {
  position: relative;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: rgb(104, 235, 240)!important;
  border-radius: 3px;
  color: rgb(179, 170, 170)!important;
}
.logo {
  height: 80px;
  width: 200px;
  border-radius: 3px;
  
}
.nav-item{
  font-size: 20px;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: underline;
}
.navbar-brand{
  font-size: 25px;
  margin-top: 2px;
  padding-bottom: 0;
}
.nav-item dropdown{
  font-size: 25px;
  margin-top: 2px;
  padding-bottom: 0;
}
.header input{
  font-size:20px;
  color: white;
}
.header button{
  font-size:20px;
}


