.healthy-recipes {
    margin-top: 10rem;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}
.healthy-recipes img {
    transform-origin: 50% 50%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid;
    width: 40%;
}
.media-body {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    position: sticky;
    color: black;
    font-size: 30px;
    float: left!important;
    margin-top: 3%;
}
.media-title {
    margin-top: 3rem;
}
.media-title-h3 {
    margin-top: 1rem!important;
}
.media-body span {
    font-size: 100px;
    color:white;
}
.media-body p {
    margin-left: 1rem;
}
.highlight{
    background-color: red;
}
.card-img-top{
    width: 100%!important;
    height: 20rem!important;
    display: block!important;
}
.card {
    width: 20rem!important;
    height: 25rem!important;
    border: none!important;
    position: relative;
}
.row{
    width: 96rem!important; 
    /* fix with size */
    height: inherit;
}
.a.col {
    width: 50px!important;
} 
.card-title{
    color:  black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}