.sign-up {
    margin-top: 5rem;
    /* text-align: center; */
    width: 100%;
    margin-left: 35%;
    margin-right: 35%;
}
.box-sizing{
    width: 38rem;
    height: 30rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 3%;
    background-color: rgb(245, 243, 243)!important;
}
.form-check {
    text-align: center!important;
}