.page-footer a{
    color: black!important;
    font-size:22px!important;
    align-items: center!important;
}
.list-unstyled {
    text-align: right!important;
}
.form-inline{
    justify-content: center!important;
}
.container-fluid{
    font-size: 22px;
}