.delete-comments{
    margin-left: 850px ;
}
.Button-background {
    border: none;
    background-color: #ffffff;
}
.Button-background:hover {
    border: none;
    background-color: #ffffff;
}
.comment-content{
    font-size: 20px;
}


